
body{
    font-family: 'Bacasime Antique', serif;
}


nav {
    display: flex;
    text-align: centerc;
}
 .nav-title {
    color: black;
    font-size: 45px;
    font-weight: 800px;
    text-transform: capitalize;

}

.oreg{
    color: orangered;
}
nav ul {
    display: flex;
}
nav li {
    list-style: none;
    margin-right: 50px;
}
nav a {
    text-decoration: none;
    color: #000;
}
 .btn {
    
    text-transform: capitalize;
    background-color: orangered;
 }