
body{
    font-family: 'Bacasime Antique', serif;
}


nav {
    padding: 10px 100px;
    display: flex;
    text-align: centerc;
}
 .nav-title {
    color: black;
    font-size: 45px;
    font-weight: 800px;
    text-transform: capitalize;

}

.oreg{
    color: orangered;
}
nav ul {
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 50px;
}
nav a {
    text-decoration: none;
    color: #000;
}
 .btn {
    
    text-transform: capitalize;
    background-color: orangered;
    padding: 4px;
    font-size: 18px;
    font-weight: bold;
 }
 nav {
    display: flex;
    justify-content: space-between;
 }
 header {
    background-color: blanchedalmond;
 }



 .benar {
    padding: 30px 30px 30px 150px;
    display: flex;
 }
 .img1 {
    width: 200px;
 }